body{
    margin: 0;
    padding: 0;
    background-color: rgb(197, 182, 207); 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
 }



 