.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(128, 0, 128, 0.5);
}
.head-login {
  margin-bottom: 20px;
  color: purple;
  font-weight: bold;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form-group {
  width: 100%;
  margin-bottom: 15px;
}

.label-login {
  margin-bottom: 5px;
  color: purple;
  text-align: left;
}

.input-login {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border 0.3s;
}

.input-login:focus {
  border-color: purple;
  outline: none;
}

.login-button {
  padding: 10px;
  background-color: purple;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #5e3c8b;
  transition: background-color 0.5s;
}

.signup-link {
  margin-top: 15px;
  color: #666;
}

.signup-link a {
  color: purple;
  text-decoration: none;
  transition: color 0.3s;
}

.signup-link a:hover {
  color: #5e3c8b;
}

.signup-link-text {
  font-weight: bold;
}
.signup-link-text:hover {
  color: #5e3c8b;
  font-weight: bold;
  cursor: pointer;
}

.input-with-icon {
  position: relative;
}

.eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
